# Ignore environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other files
test_mongoDB.py
generate_tree.py
my_structure.txt
